/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
.env
.env.*
.env.dusk.*
.phpstorm.meta.php
storage/oauth-private.key
storage/oauth-public.key