.c9/
.DS_Store
.env
.env.*
.env.dusk.*
.php_cs.cache
.phpstorm.meta.php
/.idea
/.php_cs.cache
.vscode
/bower_components
/config/local
/config/scripts.php
/config/styles.php
/node_modules
/public/docs
/public/mix-manifest.json
/public/mix.*
/public/mix.js
/public/templates
/vendor
bower_components
bower_components/
storage/debugbar/
storage/oauth-private.key
storage/oauth-public.key
/nbproject/private/